@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

.body-bg-color {
  background-color: var(--body-bg-color);
}
.text-color {
  color: var(--text-color);
}
.bg-card {
  background-color: var(--bg-cards);
}
.bg-techs {
  background-color: var(--bg-techs);
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 40px;
}


/* grid/flexbox */
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
}