.projects-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var( --bg-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding: 30px;
}